[Unit]
Description=Mediator meter health checks

[Service]
Type=oneshot
ExecStart=/home/admin/mediator/bin/run_meter_health_checks

[Install]
WantedBy=multi-user.target
