[Unit]
Description=Sync all meter_metrics with run_frequency '12hourly'

[Service]
Type=oneshot
ExecStart=/home/admin/mediator-cepro-qa/bin/run_meter_syncs --freq 12hourly

[Install]
WantedBy=multi-user.target
