[Unit]
Description=Sync all meter_metrics with run_frequency 'daily'

[Timer]
OnCalendar=*-*-* 0:15:00
Persistent=true

[Install]
WantedBy=timers.target
