[Unit]
Description=Mediator sync prepay values

[Service]
Type=oneshot
ExecStart=/home/admin/mediator/bin/run_meter_prepay_syncs

[Install]
WantedBy=multi-user.target
