[Unit]
Description=Restarts openvpn client to ensure it's connected

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart openvpn@client.service

[Install]
WantedBy=multi-user.target
