#
# Config file for using the simt-emlite cli tools, mediators and jobs
#
# Variables:
#
#   SITE - site code (eg. wlce, hmce, etc.)
#
#   SIMT_EMLITE_IMAGE - docker image to use when running mediators and jobs
# 
#   SUPABASE_URL - address of supabase API
#   SUPABASE_ANON_KEY - the supabase anon key
# 
#   SUPABASE_ACCESS_TOKEN - used by the emop cli to access supabase
#
#   FLY_API_TOKEN - for fly deployments (comment out to use local docker)
# 
#   SOCKS_HOST / SOCKS_PORT - for Emlite meter connections through socks server
#   SOCKS_USERNAME / SOCKS_PASSWORD
# 
#   EMLITE_TIMEOUT_SECONDS - seconds to wait until timeout for emlite connections
#   MAX_PARALLEL_JOBS - number of python sync jobs to run in parallel 
# 

ENV=local

# EMOP CLI / Mediator variables

MEDIATOR_PROXY_HOST=localhost

# Mediators self stop after this many seconds of inactivity. Don't stop if set to zero.
MEDIATOR_INACTIVITY_SECONDS=0

# Mediator docker image to use
SIMT_EMLITE_IMAGE=simt-emlite

# Connect ot Emlite Meters through a socks server (comment out 
# to connect directly ie. through VPN client on the host)

SOCKS_HOST=0.0.0.0
SOCKS_PORT=1080
SOCKS_USERNAME=ceprosocks
SOCKS_PASSWORD=passpass2

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
SUPABASE_URL=http://0.0.0.0:54321
SUPABASE_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcHBfbWV0YWRhdGEiOnsiY2Vwcm9fdXNlciI6dHJ1ZX0sImNlcHJvX3VzZXIiOiJ0cnVlIiwiZW1haWwiOiJjaHJpc0BjZXByby5lbmVyZ3kiLCJleHAiOjE3NDA5NjY4NjQsImlhdCI6MTcxODUwMjg2NCwiaXNzIjoiY2Vwcm8uZW5lcmd5Iiwicm9sZSI6ImZsb3dzIiwic3ViIjoiMGU4NTliMjQtYzU2OC00M2UyLTg5ZDEtOWM1N2Q3YjU0YWZlIn0.lQRgYNizo2OSbsfwgHdkWBhdQLhPwm6Qn24a8d9W05s
