#
# Config file for using the simt-emlite cli tools, mediators and jobs
#
# Variables:
#
#   MEDIATOR_SERVER - URI of the mediator gateway server
#
#   MEDIATOR_CA_CERT - base64 encoded CA certificate
#   MEDIATOR_CLIENT_CERT - base64 encoded client certificate
#   MEDIATOR_CLIENT_KEY - base64 encoded client key
#

ENV=local

MEDIATOR_SERVER=mediator-mgf.fly.dev:50051

# Fly application name (if not using MEDIATOR_SERVER and using Fly)
FLY_APP_NAME=mediator-mgf

# Mediator Client Certs (for emop cli users)
# cat <key or cert file> | base64 --wrap=0
# put placeholders for certificate variables
MEDIATOR_CA_CERT=<base64 encoded CA cert>
MEDIATOR_CLIENT_CERT=<base64 encoded client cert>
