[Unit]
Description=Sync all meter_metrics with run_frequency 'hourly'

[Service]
Type=oneshot
ExecStart=/home/admin/mediator-hmce-prod/bin/run_meter_syncs --freq hourly

[Install]
WantedBy=multi-user.target
