[Unit]
Description=Sync all meter_metrics with run_frequency '12hourly'

[Timer]
OnCalendar=*-*-* 06:50:00
OnCalendar=*-*-* 18:50:00
Persistent=true

[Install]
WantedBy=timers.target
